/****************variables **********************/
$text: #234a4d;
$border-gray: #6f7575;
$accent-orange: #fc8803;


/******************mixins*********************/
@mixin flexProperties ($justify) {
  display: flex;
  flex-direction: column;
  justify-content: ($justify)
}

@mixin nonFancyCenter {
  margin: 0 auto;
}

@mixin borderRadius {
  border-radius: 5px;
}
@mixin setMargins {
  margin: 30px;
}

@mixin buttonStyles {
  width: 200px;
  height: 50px;
  border: 3px solid $border-gray;
  font-size: 20px;

  @include borderRadius;
}
/***************body************************/


/**************global*********************/
body {
  color: $text;
}
.App {
  text-align: center;
}

/***************form******************/
form { 
  @include flexProperties(center);
  width: 50%;
  @include nonFancyCenter;

  input {
    height: 50px;
    border: 3px solid $border-gray;
    @include borderRadius;
    font-size: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  button {
    @include nonFancyCenter;
    @include buttonStyles;
    background: $accent-orange;
    color: white;
    margin-bottom: 30px;
  }

  button:hover {
    background: $text;
  }
}

/************todo list *****************/

.card-wrapper {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px $border-gray solid;
  width: 90%;
  @include nonFancyCenter;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.todo-card {
  display: flex;
  @include borderRadius;
  border: 3px solid $border-gray;
  padding: 20px;
  width: 400px;
  margin-bottom: 30px;
  justify-content: space-between;

  button {
    background: none;
    font-size: 30px;
    color: $text;
    border: none;
  }
  
  button:hover {
    color: $accent-orange;
  }
}
.is-done {
  text-decoration: line-through;
}


/****************clear button****************/

.button-box {
  width: 100%;
}
.clear-complete {
  @include buttonStyles;
  color: white;
  background: $accent-orange;
}

.clear-complete:hover {
  background: $text;
}